
html {
    font-family: sans-serif;
    line-height: 1.15;
    height: 100%;
}


body {
    margin: 0;
    font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #858796;
    text-align: left;
    background-color: #fff;
    min-height: 100%;
}

.container-fluid {
    width: 100%;
    height: 100%;
    padding: 0!important;
}
.padding-0{
    padding-right:0;
    padding-left:0;
    padding-top: 0;
}
.padding-1{
    padding-right:0;
    padding-left:20px;
    padding-top: 0;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -.75rem;
    margin-left: -.75rem
}
.sidebar{
    float: left;
    background-color: black;
    color: white;
    width: 100%;
    min-height: 760px;

}
.content-wrapper{
    float: right;
    background-color: white;
    color: black;

}
.text-success {
    color: #1cc88a!important;
}
.font-weight-bold {
    font-weight: 700!important;
}
.mb-1, .my-1 {
    margin-bottom: .25rem!important;
}
/*DashBoard css*/
.dashBoard-List{
    min-height:100%;
    padding: 0!important;
}

.sidebar li{
    list-style-type: none;
    margin: 10px 0px;
    margin-bottom: 10px;
    width: 100%;
    
}
.sidebar li a{
    margin-left: 30px!important;
    color: white;
}
.sidebar li a:hover{
    text-decoration: none;
}
.sidebar li span{
    font-size: 20px;
    font-family: sans-serif;
}
.slidebar-brand-li {
    height: 100px;
    width: 100%;
    text-align: center;
    
}

.slidebar-brand-li .sidebar-brand{
    height: 100%;
    margin-left: 10px;
    vertical-align: middle;
    display: inline-block;
    font-size: 40px;
    font-family: cursive;
    color: white;
    margin-top: 20px!important;
    font-family: fantasy;
}

.collapsible {
    color: red;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    float: right;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    clear: both;
    color: black;
    display: none;
}
.content .collapse-inner{
    background-color: white;
    border: 1px solid;
    border-radius: 10%;

}
.content .collapse-inner .collapse-item{
    font-size: 18px;
    font-family: serif;
    color: black;
    display: block;
    text-align: center;
    margin-left: 0!important;
}
.content .collapse-inner a:hover{
    background: black;
    color: white;
}
/*End DashBoard css*/


/*Content css*/

#wrapper {
    display: flex;
    padding: 0;
    min-height: 760px;
}

#wrapper #content-wrapper {
    min-height: 760px;
    background-color: #f8f9fc;
    width: 100%;
    overflow-x: hidden;
    
}

#wrapper #content-wrapper #content {
    flex: 1 0 auto
}

.topbar {
    height: 4.375rem;
}
.bg-white {
    background-color: #fff!important;
}
.navbar-expand {
    flex-flow: row nowrap;
    justify-content: flex-start;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 1rem;
}
.navbar-light {
    height:  50px;
    width: 100%;
}
.navbar-light .navbar-nav{
    height: 100%;
}
.navbar-light .navbar-nav li{
    display: inline-block;
    margin: 20px;
}
.shadow-sm {
    box-shadow: 0 .125rem .25rem 0 rgba(58, 59, 69, .2)
}

.shadow {
    box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15);
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175)
}

.shadow-none {
    box-shadow: none
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}
div {
    display: block;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.navbar-expand .navbar-nav {
    flex-direction: row;
}
.ml-auto, .mx-auto {
    margin-left: auto!important;
    
}
.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav-item{
    width: 100%;
}
.tab-list{
    padding: 0!important;
}
.fluid-tab{
    margin-left: 20px!important;
}
/*end content css*/

/*Tab Dashboard*/

.container-fluid .dashBoard-List{
   min-height: 760px;
}
.container-fluid .align-items-center{
    height: 82px;
}
.container-fluid .align-items-center h1{
    display: block;
    font-size: 3em;
    font-weight: bold;
    color: #5a5c69;
}

.session_card{
    width: 25%;
    max-width: 25%;
    margin-left: 15px;
}
.border-left-success {
    border-left: .5rem solid #1cc88a!important;
}

.session_card .align-items-center .card-font{
    position: absolute;
    top: 20%;
    left: 10%;

}
.container-fluid .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: 1rem;
}
/*end Tab Dashboard*/


/*Tab history*/


/*end tab history*/



/*Tab user*/


/*end tab user*/



/*Tab product*/


/*end tab product*/